<div id="resetpassword_dialog" class="hide fade modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3><i class="icon-user"></i> {{ _('Reset Password') }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12"> 
                <p>{{ _('Looks like you need to reset your password. Please enter your username and the new password to use for that user.') }}</p>
                <form class="form-horizontal" onsubmit="return false;">
                   <div class="control-group">
                        <label class="control-label" for="username">{{ _('Username') }}</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" data-bind="value: username, valueUpdate: 'afterkeydown'" id="username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">{{ _('Password') }}</label>
                        <div class="controls">
                            <input type="password" class="input-block-level" data-bind="value: password, valueUpdate: 'afterkeydown'" id="password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="confirm">{{ _('Confirm Password') }}</label>
                        <div class="controls">
                            <input type="password" class="input-block-level" data-bind="value: confirm, valueUpdate: 'afterkeydown'" id="confirm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button data-bind="click: onResetPassword" class="btn btn-primary button-next" name="next">{{ _('Reset Password') }}</button>
        </div>
    </div>
</div>
